<div class="center-block w-xxl w-auto-xs p-y-md">
  <div class="navbar">
    <div class="pull-center">
      <div ui-include="'views/blocks/navbar.brand.html'"></div>
    </div>
  </div>
  <div class="p-a-md box-color r box-shadow-z1 text-color m-a">
    <form name="form" ng-submit="vm.save()" role="form">
      <div class="md-form-group float-label">
        <input type="email" class="md-input" ng-model="vm.email" required/>
        <label>E-mail</label>
      </div>
      <div class="md-form-group float-label">
        <input type="text" class="md-input" ng-model="vm.fatherName" required/>
        <label>Nome do pai</label>
      </div>
      <div class="md-form-group float-label">
        <input type="text" class="md-input" ng-model="vm.childName" required/>
        <label>Nome da criança</label>
      </div>
      <div class="md-form-group float-label">
        <input type="text" class="md-input" ng-model="vm.text" required/>
        <label>Cartinha</label>
      </div>
      <button type="submit" ng-disabled="form.$invalid || vm.loading" class="btn blue btn-block p-x-md">Entrar
      </button>
    </form>
    <div ng-if="vm.hasError" class="m-b text-sm alert-danger">
      {{vm.error}}
    </div>
  </div>
</div>